doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    block content
    script(src='https://unpkg.com/react@15.3.1/dist/react.js')
    script(src='https://unpkg.com/react-dom@15.3.1/dist/react-dom.js')
    script(src='https://unpkg.com/babel-core@5.8.38/browser.min.js')
    script(src='https://unpkg.com/jquery@3.1.0/dist/jquery.min.js')
    script(src='https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js')
    block scripts
