extends layout

block content
  h1 React Style Playgound
  #playground

block scripts
  script(src='/static/javascripts/material-ui/index.js', type='application/js')
  script(src='/static/javascripts/material-ui/AppBar/index.js', type='application/js')
  script(src='/static/javascripts/material-ui/AppBar/AppBar.js', type='application/js')
  script(src='/static/javascripts/playground.jsx', type='text/jsx')
